<%- include('../partials/header') %>
<div class="recipe-bkgd">
  <div class="add-recipe-title">
    <p>Add A Recipe</p>
  </div>
  <div class="back-btn"><a href="/users/categories/<%= catName %>"><p class="back-button">Back to Recipes</p></a></div>
  <div class="add-recipe-form">
    <form action="/users/categories/<%= catName %>/recipes" method="POST" class="new-recipe-form">
      <label class ="form-labels" for="name">Recipe Name<br>
        <input type="textarea" class="formbox" name="name" required>
      </label><br>
      <label class ="form-labels" for="description">Description<br>
        <input type="textarea" class="formbox" name="description" required>
      </label><br>
      <label class ="form-labels" for="ingredients">Ingredients
        <textarea class="formbox" cols="50" name="ingredients" wrap="hard" required></textarea>
      </label><br>
      <label class ="form-labels" for="instructions">Instructions
        <textarea class="formbox" rows="4" cols="50" name="instructions" wrap="hard" required></textarea><br>
      <label class ="form-labels" for="image">Picture (optional)
        <input type="text" class="formbox image-box" name="image">
      </label><br><br>
      <input type="hidden" name="category" value="<%= foundCategory.id %>">
      <input type="submit" class="add-recipe-btn" value="Add Recipe">
    </form>
  </div>
</div>
<%- include('../partials/footer') %>