<%- include('../partials/header') %>
<div class="recipe-bkgd">
  <div class="recipe-name">
    <p><%= recipe.name %></p>
  </div>
  <div class="back-btn"><a href="/users/categories/<%= catName %>">Back to Recipes</a></div>
  <div id="current">
    <div class="recipe">
      <div class="image recipe-title"><img src="<%= recipe.image %>" class="food-image"></div>
      <div class="description recipe-title">Description<p class="recipe-content"><%= recipe.description %></p></div>
      <div class="ingredients recipe-title">Ingredients<p class="recipe-content textwrap"><%= recipe.ingredients %></p>
      </div>
      <div class="instructions recipe-title">Instructions<p class="recipe-content textwrap"><%= recipe.instructions %></p></div>
      <div class="author recipe-title">Created By<p class="recipe-content"><%= user.name %></p></div>
    </div>
    <div>
      <% if (user.id === recipe.userId.toString()) { %>
        <button type="submit" class="edit-btn">Edit Recipe</button>
        <% } %>
        <% if (user.id === recipe.userId.toString()) { %>
        <form action="<%= recipe.name %>/<%= recipe._id %>?_method=DELETE" method="POST">
          <button type="submit" class="delete-btn">Delete Recipe</button>
        </form>
      <% } %>
    </div>
  </div>
  <div id="update">
    <div class="add-recipe-form">
      <form action="/users/categories/<%= catName %>/<%= recipe.name %>/<%= recipe._id %>?_method=PUT" method="POST" class="new-recipe-form">
        <label class ="form-labels" for="name">Recipe Name<br>
          <input type="textarea" class="formbox" name="name" value="<%= recipe.name %>" required>
        </label><br>
        <label class ="form-labels" for="description">Description<br>
          <input type="textarea" class="formbox" name="description" value="<%= recipe.description %>" required>
        </label><br>
        <label class ="form-labels" for="ingredients">Ingredients
          <textarea class="formbox" cols="50" name="ingredients" required><%= recipe.ingredients %></textarea>
        </label><br>
        <label class ="form-labels" for="instructions">Instructions
          <textarea class="formbox" rows="4" cols="50" name="instructions" required><%= recipe.instructions %></textarea><br>
          <label class ="form-labels" for="image">Picture (optional)
            <input type="text" name="image" class="formbox image-box" value="<%= recipe.image %>">
          </label><br>
        <input type="hidden" name="category" value="<%= recipe.category._id %>">
        <input type="submit" class="edit-recipe-btn" value="Submit Update">
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>