<%- include('../partials/header') %>
<div class="recipe-bkgd">
  <div class="recipe-name">
    <p>Recipe</p><!--recipe.recName-->
  </div>
  <div class="recipe">
    <div class="picture"></div>
    <div class="description">Description<%= recipes.description %></div>
    <div class="ingredients">Ingredients<%= recipes.ingredients %></div>
    <div class="instructions">Instructions<%= recipes.instructions %></div>
  </div>
</div>
<%- include('../partials/footer') %>